{% block footer %}
    <section class="cid-qTkAaeaxX5 mbr-parallax-background" id="footer1-2" style="background-image:url('{{ asset("bundles/pzcore/img/drink.jpg") }}') ">
        <div class="container">
            <div class="media-container-row content text-white">
                <div class="col-12 col-md-3">
                    <div class="media-wrap">
                        <a href="https://mobirise.com/">
                            <img src="{{ asset('bundles/pzcore/assets/images/f39b3260-2d73-42f9-8f8b-9a655252db3b-138x138.png') }}"
                                 alt="Mobirise" title="">
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-3 mbr-fonts-style display-7">
                    <h5 class="pb-3"></h5>
                    <p class="mbr-text"></p>
                </div>
                <div class="col-12 col-md-3 mbr-fonts-style display-7">
                    <h5 class="pb-3">
                        Contacts
                    </h5>
                    <p class="mbr-text">
                        Email: productionpartz@gmail.com
                        <br><br><br></p>
                </div>
                <div class="col-12 col-md-3 mbr-fonts-style display-7">
                    <h5 class="pb-3">
                        Links
                    </h5>
                    <p class="mbr-text">
                        <a class="text-primary" href="https://mobirise.com/">Website builder</a>
                        <br><a class="text-primary" href="https://mobirise.com/mobirise-free-win.zip">Download for
                            Windows</a>
                        <br><a class="text-primary" href="https://mobirise.com/mobirise-free-mac.zip">Download for
                            Mac</a>
                    </p>
                </div>
            </div>
            <div class="footer-lower">
                <div class="media-container-row">
                    <div class="col-sm-12">
                        <hr>
                    </div>
                </div>
                <div class="media-container-row mbr-white">
                    <div class="col-sm-6 copyright">
                        <p class="mbr-text mbr-fonts-style display-7">
                            © Copyright 2018 Part'z - All Rights Reserved
                        </p>
                    </div>
                    <div class="col-md-6">

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}