{% extends 'layout.html.twig' %}


{% block body %}
<body>


<section class="cid-qTkA127IK8 mbr-fullscreen mbr-parallax-background" id="header2-1" style="background-image: url('{{ asset("bundles/pzcore/img/city.jpg") }}')">
    <div class="container align-center">
        <div class="row justify-content-md-center" style="position:inherit ; top:-70px ">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1 " style="font-size: 4rem" id="indexTitle">
                    Let's Extend Pleasure</h1>
                
                <p class="mbr-text pb-3 mbr-fonts-style display-5"></p>
                <div class="mbr-section-btn"><a class="btn btn-lg btn-secondary display-4" href="{{ path('fos_user_registration_register') }}" style="background-color: #7e7e7e">S'inscrire</a>
                    <a class="btn btn-lg btn-white-outline display-4" href="https://mobirise.com">Se connecter</a></div>
            </div>
        </div>
    </div>
    <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div>
</section>



</body>
{% endblock %}
